.ourservices
{
    margin-top: 205px;
    margin-bottom: 100px;

    &__head
    {
        @extend %flexnwrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
        color: $servicesgrey;

        h3{
            text-transform: uppercase;
            font-size: $font-size-xxl;
            font-weight: 800;
        }

        p{
            font-size: $font-size-md;
        }
    }

    &__text
    {
        @extend %flexnwrap;
        justify-content: center;
         max-width: 1600px;
         margin: auto;
        &__item
        {
            max-width: 540px;
            margin-bottom:80px;
            margin-right:100px;
            color: $servicesgrey;

            img
            {
                float: left;
                margin-right: 35px;
                width: 60px;
                height: 60px;
            }

            h4{
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p{
                padding-left: 95px;
                max-width: 600px;
            }
            
        }
    }
}

