.flexnwrap
{
    display: flex;
    flex-wrap: wrap;
}

.roundedges
{
    border: 0;
    border-radius: 6px;
}

.input{
    &:not(:last-child)
    {
        content: '';
        display: inline-block;
        width: 26px;
        height: 26px;
        background-size: cover;
        position: relative;
        z-index: 100; 
        left: 14%;
        top: 12%;
    }
}