$selected: #ffbb42;
$contactframe: #709dca;
$servicesgrey: #4e5d61;

$main-font: 'Open Sans', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-xl: 22px;
$font-size-xxl: 28px;


$breakpoint_xxl: 1250px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;