@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.footer__copyright, .footer__navigation, .newsettler__body__map__descr, .happyclients__body, .howitworks__buttoncontainer, .ourservices__text, .ourservices__head, .contactframe__img, .contactframe__input, .contactframe__head, .row {
  display: flex;
  flex-wrap: wrap;
}

.contactframe__input, .footer__navigation .row a:hover, .navigation__container .row .navigation__item:hover {
  border: 0;
  border-radius: 6px;
}

.newsettler__body .row label:not(:last-child)::before, .contactframe__input__phone:not(:last-child)::before, .contactframe__input__email:not(:last-child)::before, .contactframe__input__name:not(:last-child)::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: cover;
  position: relative;
  z-index: 100;
  left: 14%;
  top: 12%;
}

.newsettler__body .row a, .howitworks__button, .choosprice__body__plan__button, .aboutus__item a, .contactframe__input input.submit {
  text-decoration: none;
  background-color: #ffbb42;
  padding-left: 0;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.newsettler__body .row a:hover, .howitworks__button:hover, .choosprice__body__plan__button:hover, .aboutus__item a:hover, .contactframe__input input.submit:hover {
  background-color: yellow;
}

.newsettler__head, .happyclients__head, .howitworks__head, .choosprice__head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer__navigation .row a:hover, .navigation__container .row .navigation__item:hover {
  background-color: #ffbb42;
  color: white;
  transition: all 0.6s;
}

* {
  font-family: "open sans", sans-serif;
  font-size: 16px;
}

.row {
  flex-direction: row;
}

.navigation__container .row {
  align-items: center;
  justify-content: space-around;
}
.navigation__container .row .navigation__item {
  background-color: white;
  padding: 10px 20px;
  max-width: 80px;
}
.navigation__container .row .navigation__wrapper {
  padding: 30px 0;
  background-color: white;
  display: inline-block;
}
.navigation__container .row .navigation__wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.navigation__container .row .navigation__img {
  display: inline-block;
}

@media (max-width: 1250px) {
  .navigation__container {
    padding-top: 10px;
  }
  .navigation__item {
    padding: 0px 4px;
  }
}
@media (max-width: 1024px) {
  .navigation__container .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navigation__img {
    display: block;
  }
  .navigation__item {
    display: none;
    /*
    display: block;
    text-align: center;
    max-width: 200px;
    line-height: 40px;*/
  }
}
.contactframe {
  height: 590px;
  background-color: #709dca;
}
.contactframe h3 {
  text-transform: uppercase;
  font-size: 28px;
  color: white;
}
.contactframe p {
  font-size: 16px;
  color: white;
}
.contactframe__head {
  padding-top: 100px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
}
.contactframe .row {
  justify-content: center;
}
.contactframe__input {
  justify-content: center;
  position: relative;
}
.contactframe__input__name::before {
  background-image: url("./../images/user.png");
}
.contactframe__input__email::before {
  background-image: url("./../images/email.png");
}
.contactframe__input__phone::before {
  background-image: url("./../images/phone.png");
}
.contactframe__input label {
  display: inline-block;
}
.contactframe__input input {
  padding-left: 40px;
  width: 280px;
  line-height: 50px;
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
.contactframe__imgbuttoncontainer {
  display: flex;
  justify-content: center;
}
.contactframe__imgbuttoncontainer button {
  border-radius: 10px;
  margin: 20px 5px;
  content: "";
  background-color: grey;
  width: 20px;
  height: 20px;
}
.contactframe__imgbuttoncontainer button:focus {
  background-color: darkblue;
}
.contactframe__img {
  justify-content: center;
}
.contactframe__img img {
  margin-top: 65px;
  width: 650px;
  height: 350px;
}

@media (max-width: 1250px) {
  .contactframe {
    height: 620px;
  }
  .contactframe__img img {
    width: 325px;
    height: 175px;
    margin-top: 125px;
  }
  .contactframe__input .submit {
    margin-left: 24px;
  }
  .contactframe__input input {
    width: 288px;
  }
  .contactframe__input label {
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .contactframe {
    height: 800px;
  }
  .contactframe__head {
    text-align: center;
  }
  .contactframe__head p {
    max-width: 500px;
  }
  .contactframe__input .submit {
    margin-left: 132px;
  }
  .contactframe__input label::before {
    left: 28% !important;
  }
  .contactframe__input input {
    max-width: 270px;
    margin: 0 116px;
  }
}
@media (max-width: 576px) {
  .contactframe__head p {
    margin: 0 20px;
  }
}
@media (max-width: 1250px) {
  .contactframe {
    height: 620px;
  }
  .contactframe__img img {
    width: 325px;
    height: 175px;
    margin-top: 125px;
  }
  .contactframe__input .submit {
    margin-left: 24px;
  }
  .contactframe__input input {
    width: 288px;
  }
  .contactframe__input label {
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .contactframe {
    height: 800px;
  }
  .contactframe__head {
    text-align: center;
  }
  .contactframe__head p {
    max-width: 500px;
  }
  .contactframe__input .submit {
    margin-left: 132px;
  }
  .contactframe__input label::before {
    left: 28% !important;
  }
  .contactframe__input input {
    max-width: 270px;
    margin: 0 116px;
  }
}
@media (max-width: 576px) {
  .contactframe__head p {
    margin: 0 20px;
  }
}
.ourservices {
  margin-top: 205px;
  margin-bottom: 100px;
}
.ourservices__head {
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  color: #4e5d61;
}
.ourservices__head h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
}
.ourservices__head p {
  font-size: 16px;
}
.ourservices__text {
  justify-content: center;
  max-width: 1600px;
  margin: auto;
}
.ourservices__text__item {
  max-width: 540px;
  margin-bottom: 80px;
  margin-right: 100px;
  color: #4e5d61;
}
.ourservices__text__item img {
  float: left;
  margin-right: 35px;
  width: 60px;
  height: 60px;
}
.ourservices__text__item h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ourservices__text__item p {
  padding-left: 95px;
  max-width: 600px;
}

@media (max-width: 1250px) {
  .ourservices__text__item {
    max-width: 412px;
  }
}
.aboutus {
  background-color: #ffbb42;
  max-height: 620px;
  color: white;
}
.aboutus__item {
  width: 50%;
  padding-left: 80px;
  padding-top: 165px;
  height: 620px;
}
.aboutus__item__button {
  margin-top: 34px;
}
.aboutus__item h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 30px;
}
.aboutus__item a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 12px 25px;
  border: grey 0.5px solid;
}
.aboutus__item p {
  margin-right: 266px;
  max-width: 500px;
}
.aboutus__img {
  width: 50%;
  background-image: url("./../images/left-bg.png");
  /* потом сделать норм*/
  background-repeat: no-repeat;
  height: 850px;
  width: 50%;
}

@media (max-width: 1250px) {
  .aboutus__item p {
    margin-right: 50px;
  }
}
.choosprice {
  height: 900px;
  background-color: #e7edf3;
}
.choosprice__head {
  text-align: center;
  padding-top: 140px;
}
.choosprice__head h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
}
.choosprice__head p {
  color: #4e5d61;
}
.choosprice__body {
  text-transform: uppercase;
}
.choosprice__body .row {
  justify-content: center;
}
.choosprice__body__plan {
  width: 390px;
  height: 440px;
  background-color: white;
  text-align: center;
  margin-top: 55px;
}
.choosprice__body__plan .plan {
  margin-top: 55px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
}
.choosprice__body__plan .planprice {
  color: #ffbb42;
  font-size: 42px;
}
.choosprice__body__plan .lastplanpricep {
  margin-bottom: 35px;
}
.choosprice__body__plan__button {
  padding: 20px 20px;
}
.choosprice__body__plan:hover {
  transition: all 0.2s ease-out;
  height: 500px;
  margin-top: 20px;
  background-color: #709dca;
}
.choosprice__body__plan:hover .planprice {
  color: white;
}
.choosprice__body__plan:hover .plan {
  margin-top: 90px;
}

.howitworks {
  height: 850px;
  background-color: white;
}
.howitworks__head {
  margin-top: 150px;
}
.howitworks__body {
  text-align: center;
}
.howitworks__body .row {
  justify-content: center;
}
.howitworks__body .row div {
  margin-right: 50px;
}
.howitworks__body .row h4 {
  margin-top: 60px;
}
.howitworks__body .row p {
  max-width: 220px;
}
.howitworks__body__image {
  display: flex;
  justify-content: center;
}
.howitworks__buttoncontainer {
  justify-content: center;
}
.howitworks__button {
  padding: 18px 28px;
  margin-top: 95px;
}

.happyclients {
  height: 900px;
  background-color: #ffc155;
}
.happyclients__head {
  color: white;
  padding-top: 140px;
  margin-bottom: 60px;
}
.happyclients__head h3 {
  text-transform: uppercase;
}
.happyclients__body {
  max-width: 1300px;
  justify-content: center;
  margin: 0 260px;
}
.happyclients__body__client {
  width: 570px;
  height: 240px;
  background-color: white;
  margin-right: 36px;
  margin-bottom: 20px;
}
.happyclients__body__client__img {
  margin-left: 30px;
  margin-top: 40px;
  float: left;
}
.happyclients__body__client__descr {
  margin-top: 50px;
  margin-left: 30px;
}
.happyclients__body__client__descr p {
  font-size: 14px;
  max-width: 350px;
}
.happyclients__body__client__descr .descr_role {
  margin-top: 30px;
}
.happyclients__body__client__descr__name {
  text-transform: uppercase;
  color: orange;
}
.happyclients__body__client__descr__role {
  text-transform: uppercase;
  color: grey;
}

@media (max-width: 1250px) {
  .happyclients__body {
    margin: 0 40px;
  }
  .happyclients__body__client {
    width: 400px;
  }
  .happyclients__body__client__descr {
    position: relative;
    top: 10px;
  }
}
.newsettler {
  height: 950px;
  background-color: white;
}
.newsettler__head {
  padding-top: 160px;
  margin-bottom: 40px;
}
.newsettler__head h3 {
  text-transform: uppercase;
  font-weight: 900;
}
.newsettler__body .row {
  justify-content: center;
  align-items: center;
}
.newsettler__body .row #email {
  width: 400px;
}
.newsettler__body .row label {
  margin-right: 10px;
  line-height: 50px;
}
.newsettler__body .row label::before {
  background-image: url("./../images/placeholderpng.png");
}
.newsettler__body .row label::before {
  margin-right: 5px;
}
.newsettler__body .row label input {
  padding-left: 40px;
  width: 300px;
}
.newsettler__body .row a {
  padding: 20px 50px;
}
.newsettler__body__map__descr {
  margin-top: 100px;
  width: 300px;
  height: 280px;
  background-color: #394b50;
  border-radius: 300px;
  flex-direction: column;
  align-items: center;
}
.newsettler__body__map__descr h5 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__navigation {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__navigation .row {
  justify-content: center;
  margin-bottom: 30px;
}
.footer__navigation .row a {
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.footer__links {
  margin-top: 25px;
  margin-bottom: 55px;
}
.footer__links a {
  /* не работает(кликабельная картинка ) */
  background-image: url("./../images/placeholderpng.png");
  width: 10px;
  height: 10px;
}
.footer__copyright {
  justify-content: center;
  background-color: #709dca;
  height: 45px;
  align-items: center;
  color: white;
}

/*# sourceMappingURL=index.css.map */
